@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.container{
    width: 90%;
    display: flex;
}


.header_container{
    justify-content: space-between;
}

.logo{
    width: 15%;
    height: 65px;
    font-size: 48px;
    font-family: Bebas Neue;
    text-align: center;
    font-weight: 900;
    color: white;
    line-height: 65px;
}

.nav{
    height: 65px;
    width: 50%;
    display: flex;
}

.nav-items{
    width: 20%;
    height: 65px;
    font-family: Source Sans Pro;
    text-align: center;
    line-height: 65px;
    color: white;
    cursor: pointer;
    transition: .4s;
}

.nav-items:hover{
    color: rgba(16,128,234,1);
    background-color: #fff;
}

.banner{
    height: 95vh;
    width: 100%;
    background-color: grey; 
    background-image: url('https://images.pexels.com/photos/251225/pexels-photo-251225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay{
    height: 95vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.banner_text{
    height: 250px;
    width: 50%;
    background-color: rgba(16,128,234,0.7);
    font-family: Source Sans Pro;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: white;
}

.banner_text h1{
    font-family: Bebas Neue;
    font-weight: 100;
    margin-bottom: 10px;
}

.banner_desc{
    margin-top: 10px;
    margin-bottom: 15px;
}
.padd{
    padding: 50px;
}
.banner_btn{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: Bebas Neue;
    border: 2px solid white;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.banner_btn:hover{
    background-color: #fff;
    color: rgba(16,128,234,1);
}

.services{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight:100;
    font-size: 15px;
    font-family: Bebas Neue;
}

.sub_head{
    font-family: Bebas Neue;
    font-weight: 100;
    font-size: 40px;
}

.services_container{
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service{
    height: 300px;
    width: 47%;
    background-color: #fff;
    display: flex;
    margin-top: 20px;
}

.service_img{
    width: 40%;
    height: 300px;
    background-color: red;
    display: flex;
    overflow: hidden;
}

.service_details{
    width: 60%;
    height: 300px;
    background-color: green;
    font-weight: 100;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.service_padd{
    padding: 20px;
}

.service_btn{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 7px;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-family: Bebas Neue;
    border: none;
    font-size: 18px;
    background-color: rgba(16,128,234,1);
    cursor: pointer;
    transition: .3s;
  
}

.service_title{
    margin-bottom:10px;
    font-family: Bebas Neue;
    font-weight: normal;
}

.service_desc{
    margin-bottom: 35px;
    font-family: Source Sans Pro;
    font-size: 15px ;
}



.about{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Bebas Neue;
    align-items: center;
}

.about_container{
    margin-top: 20px; 
    line-height: 30px;
    display: inline;
    font-family: Source Sans Pro;
    font-size: 15px ;

}

.start_text{
    font-size: 30px;
    font-weight: bold;
    color: grey;
}

.highlight{
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    background-color:  rgba(16,128,234,1);
    display: flex;
    justify-content: center;
}



.highlight_container{
    justify-content: space-between;
}


.high_ele{
    width: 21%;
    height: 190px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    text-align: center;
    color: white;
   }

.high_title{
    font-family: Bebas Neue;
    font-size: 50px;
}

.high_desc{
   font-size: 16px;
}

.quote{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.quote_title{
    font-family: Bebas Neue;
    font-size: 45px;
    margin-bottom: 20px;
}

.quote_container{
    flex-direction: column;
    align-items: center;
}

.quote_btn{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 7px;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    font-family: Bebas Neue;
    border: none;
    font-size: 25px;
    background-color: rgba(16,128,234,1);
    cursor: pointer;
    transition: .3s;
  
}


.portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    font-family: Bebas Neue;
}


.portfolio_container{
    flex-wrap: wrap;
    width: 100%;
}

.project{
    width: 25%;
    height: 400px;
    background-color: red;
    display: flex;
}

.project_1{
    background-image: url(https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.project_2{
    background-image: url(https://images.pexels.com/photos/21067/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;
}

.project_3{
    background-image: url(https://images.pexels.com/photos/730564/pexels-photo-730564.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.project_4{
    background-image: url(https://images.pexels.com/photos/6126306/pexels-photo-6126306.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    align-items: flex-end;

}

.project_5{
    background-image: url(https://images.pexels.com/photos/3746005/pexels-photo-3746005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.project_6{
    background-image: url(https://images.pexels.com/photos/926680/books-book-shopping-old-books-926680.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    align-items: flex-end;
    background-size: cover;
}

.project_7{
    background-image: url(https://images.pexels.com/photos/588016/pexels-photo-588016.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.project_8{
    background-image: url(https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    align-items: flex-end;
    background-size: cover;
}


.project_title{
    color: white;
    width: 100%;
    height: 150px;
    text-indent: 30px;
    line-height: 200px;
    background-color: rgba(16,128,234,0.4);
    cursor: pointer;
    overflow: hidden;
}

.project_title:hover{
    height: 400px;
    transition: .4s
}








.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #353535;
    display: flex;
    justify-content: center;
    
}

.footer_child{
    height: 200px;
    width: 25%;
    display: flex;
    justify-content: center;
    font-family: Bebas Neue;
}

.footer_child_1{
    
    color: white;
    font-size: 20px;
    align-items: center;
}

ul{

    margin-top: 40px;
}

li{
    list-style-type: none;
    margin-bottom: 8px;
    color: white;
}

.first{
    font-size: 22px ;
}

.footer_child_4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon{
    height: 40px;
    width: 40px;
    background-size: cover;
}


.si1{
    background-image: url(./images/facebook.png);
}
.si2{
    background-image: url(./images/google.png);
}
.si3{
    background-image: url(./images/instagram.png);
}
.si4{
    background-image: url(./images/linkedin.png);
}

.social_container{
    width: 60%;
    justify-content: space-between;
}
